---
layout: free
---

      <div class="hero tall">
      <div class="container">
        <header class="post-header">
            <h1><img src="{{ site.baseurl }}/org/logo/logo_wide.svg" alt="{{ site.title }}" /></h1>
            <div>
                <span class="subtitle">{{ page.subtitle }}</span>
            </div>
            <div>
                <a class="btn" href="doc">Documentation</a>
                <a class="btn" href="about">About</a>
                <a class="btn" href="org">Organization</a>
                <a class="btn" href="https://github.com/safting">@github</a>
            </div>
        </header>
      </div>
      </div>

      <div class="page-content">
        <div class="wrap">
          <div class="post">
            <article class="post-content">
            {{ content }}
            </article>
          </div>
        </div>
      </div>
